.header {
  padding: 0 3rem 0 8rem;
  height: 80px;
  background-color: #1c2b35;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.anchor a {
  margin-left: 2rem;
  color: #ffffff;
}
.anchor a:hover {
  color: lightcoral;
}
.user-name {
  color: yellow;
  margin-left: 2rem;
}
.signOut-btn {
  margin-left: 2rem;
}
